# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: v1
kind: Service
metadata:
  name: argo-server
  namespace: {{.Release.Namespace}}
  labels:
      argo-version: v3
spec:
    type: {{.Values.argoserver.serviceType}}
    ports:
    - port: 80
      targetPort: 2746
      name: web
    selector:
        app: argo-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-server
  namespace: {{.Release.Namespace}}
  labels:
    argo-version: v3
spec:
  selector:
    matchLabels:
      app: argo-server
  template:
    metadata:
      labels:
        app: argo-server
    spec:
      containers:
      - image: {{ index .Values.images "argo-server" }}
        name: argo-server
        args:
        - server
        - --auth-mode=server
        env:
          - name: ARGO_BASE_HREF
            value: /
          - name: POD_NAMES
            value: v1 #TODO remove in future version to switch to default (v2)
        ports:
        - containerPort: 2746
          name: web
        readinessProbe:
            httpGet:
                path: /
                port: web
                scheme: HTTPS
            initialDelaySeconds: 10
            periodSeconds: 20
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        volumeMounts:
          - mountPath: /tmp
            name: tmp
      nodeSelector:
        kubernetes.io/os: linux
      securityContext:
        runAsNonRoot: true
      serviceAccountName: argo-server
      volumes:
        - emptyDir: {}
          name: tmp
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: workflow-controller
    argo-version: v3
  name: workflow-controller-metrics
spec:
  ports:
    - name: metrics
      port: 9090
      protocol: TCP
      targetPort: 9090
  selector:
    app: workflow-controller
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.argo.name }}
  namespace: {{.Release.Namespace}}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/config.yaml") . | sha256sum }}
  labels:
    argo-version: v3
spec:
  selector:
    matchLabels:
      app: workflow-controller
  template:
    metadata:
      labels:
        app: workflow-controller
    spec:
      containers:
      - args:
        - --configmap
        - workflow-controller-configmap
        - --executor-image
        - {{ index .Values.images "argo-executor" }}
        command:
        - workflow-controller
        env:
          - name: LEADER_ELECTION_IDENTITY
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
          - name: POD_NAMES
            value: v1 #TODO remove in future version to switch to default (v2)
        image: {{ index .Values.images "argo-workflow-controller" }}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: 6060
          initialDelaySeconds: 90
          periodSeconds: 60
          timeoutSeconds: 30
        name: workflow-controller
        resources:
          {{- toYaml .Values.argo.resources | nindent 10 }}
        ports:
          - containerPort: 9090
            name: metrics
          - containerPort: 6060
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
          runAsNonRoot: true
      securityContext:
        runAsNonRoot: true
      serviceAccountName: argo
