[ CA_default ]
default_md        = sha256
default_days      = 375

[ req ]
# Options for the `req` tool (`man req`).
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only

# SHA-1 is deprecated, so use SHA-2 instead.
default_md          = sha256

# Extension to add when the -x509 option is used.
#x509_extensions     = v3_ca

[ req_distinguished_name ]
# See <https://en.wikipedia.org/wiki/Certificate_signing_request>.
countryName                     = Country Name (2 letter code)
0.organizationName              = Organization Name
organizationalUnitName          = Organizational Unit Name

countryName_default                     = DE
0.organizationName_default              = SAP SE
organizationalUnitName_default          = testmachinery
