[ CA_default ]
default_md        = sha256
default_days      = 375

[ req ]
# Options for the `req` tool (`man req`).
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only

# SHA-1 is deprecated, so use SHA-2 instead.
default_md          = sha256

# Extension to add when the -x509 option is used.
prompt = no
req_extensions     = v3_req

[req_distinguished_name]
C = DE
O = SAP SE
OU = testmachinery
CN = testmachinery-controller.default.svc

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = testmachinery-controller.default.svc
DNS.2 = testmachinery-controller.default
DNS.3 = testmachinery-controller