{{define "title"}}<a href="/pr-status" >PR Status</a> > {{ .page.Testrun }}{{end}}
{{define "content"}}
    <div class="pr-status-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ .page.Testrun }}</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-list__item-primary-content">
                    <button class="mdl-button mdl-button--icon mdl-button--disabled"><i class="material-icons mdl-list__item-icon">info</i></button>
                    {{ .page.Organization }}/{{ .page.Repository }}/{{ .page.PR }}
                </div>
                <div class="mdl-cell mdl-list__item-primary-content">
                    <button class="mdl-button mdl-button--icon mdl-button--disabled"><i class="material-icons mdl-list__item-icon">perm_identity</i></button>
                    {{ .page.Author }}
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-list__item-primary-content">
                    <button class="mdl-button mdl-button--icon mdl-button--disabled"><i class="material-icons mdl-list__item-icon">schedule</i></button>
                    {{ .page.StartTime }}
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell  mdl-list__item-primary-content">
                    <button class="mdl-button mdl-button--icon mdl-button--disabled"><i class="material-icons mdl-list__item-icon">speed</i></button>
                    {{ .page.Progress }} Steps
                </div>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <pre>{{ .page.RawStatus }}</pre>
        </div>
        <div class="mdl-card__menu">
            <i id="phase-{{ .page.Testrun }}" class="material-icons mdl-list__item-icon" style="color:{{ .Phase.Color }}">{{ .page.Phase.Icon }}</i>
            <div class="mdl-tooltip" for="phase-{{ .page.Testrun }}">{{ .page.Phase.Tooltip }}</div>
        </div>
    </div>
{{end}}

{{template "page" (settings "pr-status" .)}}