global:
  loggingNamespace: logging
  loggingEnabled: true
  overwriteLoggingReleaseName: logging
  valiServiceName: logging-vali
vali:
  nameOverride: vali
  image:
    repository: europe-docker.pkg.dev/gardener-project/releases/3rd/credativ/vali
    tag: v2.2.31
  podAnnotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
  persistence:
    enabled: true
    storageClassName: default
  config:
    limits_config:
      max_entries_limit_per_query: 10000
    table_manager:
      retention_deletes_enabled: true
      retention_period: 336h
  resources:
    requests:
      cpu: "1"
      memory: 4Gi
    limits:
      cpu: "4"
      memory: 8Gi
  terminationGracePeriodSeconds: 300
  rbac:
    pspEnabled: false

valitail:
  nameOverride: valitail
  image:
    repository: europe-docker.pkg.dev/gardener-project/releases/3rd/credativ/valitail
    tag: v2.2.31
  resources:
    limits:
      cpu: 500m
      memory: 1.5Gi
    requests:
      cpu: 100m
      memory: 128Mi
  tolerations:
    - key: purpose
      operator: Equal
      value: testload
      effect: NoSchedule
  rbac:
    pspEnabled: false
  scrapeConfigs:
    - job_name: pods
      pipeline_stages:
        - docker: { }
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        # keep pod name as label (use prometheus standard name "instance" to correlate later with monitoring)
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_name
          target_label: instance
        # keep container name as label
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_container_name
          target_label: container
        # keep node (VM) label with same name as dashboards based on prometheus
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_node_name
          target_label: node
        # point valitail to correct log filenames
        - replacement: /var/log/pods/*$1/*.log
          separator: /
          source_labels:
            - __meta_kubernetes_pod_uid
            - __meta_kubernetes_pod_container_name
          target_label: __path__
        # give an argo workflow a friendly grafana label name
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_label_workflows_argoproj_io_workflow
          target_label: argo_workflow
        # give an argo workflow node/step a friendly grafana label name
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_annotation_workflows_argoproj_io_node_name
          target_label: argo_node
        # give a TM teststep a friendly label name
        - action: replace
          source_labels:
            - __meta_kubernetes_pod_annotation_testmachinery_sapcloud_io_TestDefinition
          target_label: tm_testdef