---
{{- if .Values.global.loggingEnabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "loki.fullname" . }}
  namespace: {{ .Values.global.loggingNamespace }}
  labels:
    app: {{ template "loki.name" . }}
    chart: {{ template "loki.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  loki.yaml: {{ tpl (toYaml .Values.config) . | b64enc}}
{{- end }}