
.commandhelp-card-wide {
    width: 50%;
    margin: 10px auto;
}

.commandhelp-card-wide.mdl-card {
    width: 75%;
}

.commandhelp-card-wide .mdl-card__supporting-text {
    width: 100%;
}

.commandhelp-card-wide pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height: 2em;
    padding-left: 40px;
}