body {
    line-height: 1.4;
    background: #f4f4f4;
    color: #444;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
}

.mdl-layout__drawer footer {
    text-align: center;
    color: darkgray;
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: small;
}

.mdl-navigation__link .material-icons {
    font-size: 14px;
}

table {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px #e0e0e0;
    border-collapse: collapse;
    margin: 10px;
    display: table;
    width: calc(100% - 20px);
}

tr {
    border-top: 1px solid #f4f4f4;
}

ul.noBullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.noBullets li {
    margin: 0 8px;
    display: inline-block;
}

.icon-cell {
    width: 32px;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.header-title a {
    color: white;
}

.commandhelp-card-wide {
    width: 50%;
    margin: 10px auto;
}

.commandhelp-card-wide.mdl-card {
    width: 75%;
}

.commandhelp-card-wide .mdl-card__supporting-text {
    width: 100%;
}

.commandhelp-card-wide pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height: 2em;
    padding-left: 40px;
}

.pr-status-card-wide {
    width: 50%;
    margin: 10px auto;
}

.pr-status-card-wide.mdl-card {
    width: 60%;
}

.pr-status-card-wide pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height: 2em;
}

.home {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.home img {
    width: 30%;
    margin: 20px;
}
.home h1 {
    margin: 0 auto;
}

.page_404 {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40em;
}

.page_404 .text {
    font-size: 20em;
}

